
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #110828;;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e2209e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3e9bdd;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#navbar {
  width: 90%;
  margin-top: 2rem;
  margin-inline: auto;
  transition: all 0.5s;
  z-index: 1;
  padding: 15px 0;
  border-radius: 60px;
}

#navbar .logo {
  color: white;
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#navbar .logo img {
  max-height: 30px;
  width: auto;
}

.header-scrolled {
  width: 90%;
  background: #ececec;
  margin-top: 2rem;
  margin-inline: auto;
  padding: 15px 0;
  border-radius: 60px;
  animation: fadedown 0.4s ease 1s forwards;
}

.login-btn {
  background-color: #3e3789;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.navbar-toggler {
  border-color: white;
  border: none;
  font-size: 1.5rem;
}

.nav-link {
  color: #ffb700;
  font-weight: 500;
}

.navbar-brand:hover {
  transform: translateY(-5px);
}

.login-btn:hover {
  transform: translateY(-5px);
  background-color: #2e2865;
  color: #fff;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link:hover{
  transform: translateY(-5px);
  color: #fff;
}

@keyframes fadedown {
  0% {
    top: -100px;
  }
  100% {
    top: 20px;
  }
}

@media (max-width: 992px) {
  #navbar .logo {
    font-size: 28px;
  }
}

@media only screen and (max-width: 988px) {
  .navbar-brand {
    display: none;
  }
  .navbar-toggler {
    margin-right: auto;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 80px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #ffb700;
}

.section-title h3 {
  position: static;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 40px;
  padding-bottom: 0;
  color: #ffb700;
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about{
  background-color: #9364ed;
}

.about .content {
  font-size: 15px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #ffb700;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about .content ul i {
  font-size: 24px;
  color: #2487ce;
  position: absolute;
  left: 0;
  top: -2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# division
--------------------------------------------------------------*/
.division{
  background: #ffb700;
  background-size: cover;
  padding: 60px 30px;
  width: 90%;
  margin-top: 2rem;
  margin-inline: auto;
  border-radius: 20px;
}


.division .section-title h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #fff;
}

.division .section-title p{
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}

.division .icon-box {
  text-align: center;
  padding: 40px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
}

.division .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.division .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.division .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.division .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.division .icon-box h4 {
  font-weight: bold;
  margin: 10px 0 15px 0;
  font-size: 16px;
}

.division .icon-box h4 a {
  color: #124265;
  transition: ease-in-out 0.3s;
}

.division .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.division .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.division .iconbox-orange i {
  color: #ffa76e;
}

.division .iconbox-orange:hover .icon i {
  color: #fff;
}

.division .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.division .iconbox-pink i {
  color: #e80368;
}

.division .iconbox-pink:hover .icon i {
  color: #fff;
}

.division .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.division .iconbox-yellow i {
  color: #ffbb2c;
}

.division .iconbox-yellow:hover .icon i {
  color: #fff;
}

.division .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.division .iconbox-red i {
  color: #ff5828;
}

.division .iconbox-red:hover .icon i {
  color: #fff;
}

.division .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.division .iconbox-teal i {
  color: #11dbcf;
}

.division .iconbox-teal:hover .icon i {
  color: #fff;
}

.division .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .container{
  padding-inline: 60px;
}

.team-container,
.profile-container{
  display: flex;
  justify-content: center;
}

.team .member {
  width: 230px;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #124265;
  margin: 0 10px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #2487ce;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
  line-height: 0;
}

.team .member .member-info {
  padding: 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 15px;
  color: #124265;
  font-family: 'Archivo Narrow', sans-serif;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}

.team #team-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.team #team-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.team #team-flters li:hover,
.team #team-flters li.filter-active {
  color: #ffb700;
}

.team #team-flters li:last-child {
  margin-right: 0;
}

/*
grid item
*/

.grid-item { width: 25%; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #ffb700;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #124265;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #2487ce;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #2487ce;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #cde5f6;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: #2487ce;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #3194db;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2487ce;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #3194db;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .about,
  .division {
    padding: 2rem;
  }

}